.item-1 {
  width: 600px;
  height: 600px;
  background-image: url('http://lorempixel.com/600/600/nature/1');
}
.item-2 {
  width: 600px;
  height: 600px;
  background-image: url('http://lorempixel.com/600/600/nature/2');
}
.item-3 {
  width: 600px;
  height: 600px;
  background-image: url('http://lorempixel.com/600/600/nature/3');
}
.item-4 {
  width: 600px;
  height: 600px;
  background-image: url('http://lorempixel.com/600/600/nature/4');
}
.item-5 {
  width: 600px;
  height: 600px;
  background-image: url('http://lorempixel.com/600/600/nature/5');
}
.item-6 {
  width: 600px;
  height: 600px;
  background-image: url('http://lorempixel.com/600/600/nature/6');
}
.item-7 {
  width: 600px;
  height: 600px;
  background-image: url('http://lorempixel.com/600/600/nature/7');
}
.item-8 {
  width: 600px;
  height: 600px;
  background-image: url('http://lorempixel.com/600/600/nature/8');
}
.item-9 {
  width: 600px;
  height: 600px;
  background-image: url('http://lorempixel.com/600/600/nature/9');
}
.item-10 {
  width: 600px;
  height: 600px;
  background-image: url('http://lorempixel.com/600/600/nature/10');
}
